<%- include('../layouts/adminHeader.ejs') %>
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Categories </h2>
                <p>Add, edit or delete a category</p>
            </div>
            <div>
                <input type="text" placeholder="Search Categories" class="form-control bg-white">
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form action="/admin/add-category" method="post" onsubmit="return validateForm()"
                            enctype="multipart/form-data">
                            <% if(typeof errorMessage !=='undefined' ){ %>
                                <p style="color: red;">
                                    <%= errorMessage %>
                                </p>
                                <% } %>
                                    <div style="display: flex; justify-content: space-between;">
                                        <div style="margin-right: 40px;">
                                            <div class="mb-4">
                                                <label for="product_name" class="form-label">Category</label>
                                                <input type="text" name="catname" placeholder="Type here" class="form-control" style="width: 400px;"
                                                    id="catname" />
                                                <div class="error-message" id="catname-error"></div>
                                            </div>
                                            <div class="mb-4">
                                                <label class="form-label">Description</label>
                                                <textarea id="description" name="description" placeholder="Type here"
                                                    class="form-control"></textarea>
                                                <div class="error-message" id="description-error"></div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>Media</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="input-upload">
                                                    <img src="/admin-assets/imgs/theme/upload.svg" alt="">
                                                    <input class="form-control" type="file" name="image" single>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-grid">
                                        <button type="submit" class="btn btn-primary" style="width: fit-content;">Create category</button>
                                    </div>
                        </form>
                    </div>
                </div> <!-- .col// -->
            </div> <!-- .row // -->
        </div> <!-- card body .// -->

    </section> <!-- content-main end// -->

    </main>
    <script>
        function validateForm() {
            var catname = document.getElementById('catname').value.trim();
            var description = document.getElementById('description').value.trim();
            var isValid = true;

            // Validate catname
            var catnamePattern = /^[a-zA-Z]+$/;
            if (catname === '') {
                document.getElementById('catname-error').innerText = 'Category name is required';
                isValid = false;
            } else if (!catnamePattern.test(catname)) {
                document.getElementById('catname-error').innerText = 'Category name can only contain alphabets';
                isValid = false;
            } else {
                document.getElementById('description-error').innerText = '';
            }

            // Validate description
            var descriptionPattern = /^[a-zA-Z0-9\s]*[a-zA-Z][a-zA-Z0-9\s]*$/;
            if (description === '') {
                document.getElementById('description-error').innerText = 'Description is required';
                isValid = false;
            } else if (!descriptionPattern.test(description)) {
                document.getElementById('description-error').innerText = 'Description can only contain alphanumeric characters and must contain text.';
                isValid = false;
            } else {
                document.getElementById('description-error').innerText = '';
            }

            return isValid;
        }


    </script>



    <script src="/admin-assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/admin-assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/admin-assets/js/vendors/select2.min.js"></script>
    <script src="/admin-assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/admin-assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/admin-assets/js/main.js" type="text/javascript"></script>
    </body>

    </html>